In [1]:
def create_location_table():
    ## lists targets
    import requests
    import json
    import pandas
    from pandas.io.json import json_normalize
    
    url = 'http://dahiti.dgfi.tum.de/api/v1/'

    args = {}
    """ required options """
    args['username'] = 'your username here'
    args['password'] = 'your password here'
    args['action'] = 'list-targets'

    """ optional options """
    #args['basin'] = 'Amazon'
    #args['continent'] = 'Asia'
    #args['country'] = 'de'
    #args['min_lon'] = 0
    #args['max_lon'] = 10
    #args['min_lat'] = 0
    #args['max_lat'] = 10
    #args['software'] = '3.1'

    """ send request as method POST """
    response = requests.post(url, data=args)
    """ send request as method GET """
    response = requests.get(url, params=args)

    if response.status_code == 200:
        """ convert json string in python list """
        data = json.loads(response.text)
        data = json_normalize(data)
        data.drop('location', axis=1, inplace=True)
        data.columns=['cl_id','latitude','longitude','target_name']
        return(data)
    else:
        return(response.status_code)        

x=create_location_table()
#x["latitude"]+","+x["longitude"]

In [8]:
#x.to_csv("locationTab", sep='\t', encoding='utf-8')
## 238
################ print(x.loc[x['cl_id'] == '1689'])
print(x)

     cl_id  latitude  longitude                target_name
0      254   64.5122   -98.8248             Aberdeen, Lake
1       85    1.6807    30.9210               Albert, Lake
2    10310   39.7639    -6.6882       Alcantara, Reservoir
3      970   40.2596  -121.1843              Almanor, Lake
4     1305   49.1448    10.7023             Altmuehl, Lake
5    10321   27.8790  -109.8455  Alvaro Obreg√≥n, Reservoir
6     2288    1.0075   -52.0857             Amapari, River
7      148   -1.4649   -51.9901              Amazon, River
8      147   -1.5596   -52.6457              Amazon, River
9       69   -1.7848   -53.4142              Amazon, River
10     144   -2.1250   -53.9936              Amazon, River
11     145   -2.4402   -54.2591              Amazon, River
12     157   -2.3940   -54.6707              Amazon, River
13     152   -2.4151   -54.9785              Amazon, River
14     154   -2.1375   -55.4363              Amazon, River
15     155   -2.1393   -56.1538              Amazon, River
16     168   -2.5048   -56.5038              Amazon, River
17     166   -2.6901   -56.7468              Amazon, River
18     164   -2.6128   -57.1724              Amazon, River
19     165   -2.3703   -57.5507              Amazon, River
20    1053   -2.8126   -57.9317              Amazon, River
21    1054   -2.9644   -58.1328              Amazon, River
22     167   -3.3654   -58.7685              Amazon, River
23     170   -3.1775   -59.9502              Amazon, River
24     161   -3.1259   -60.1708              Amazon, River
25     316   -3.8553   -61.6883              Amazon, River
26     359   -2.4750   -65.3674              Amazon, River
27     406   -4.3772   -69.7923              Amazon, River
28     405   -4.0441   -70.1201              Amazon, River
29    1153   -3.7645   -71.6145              Amazon, River
..     ...       ...        ...                        ...
652   1001  -12.5930   -52.9462               Xingu, River
653   1009   -5.4397   -52.7821               Xingu, River
654   1010   -5.4400   -52.7851               Xingu, River
655   1011   -6.4327   -52.3418               Xingu, River
656   1017   -8.4523   -52.6103               Xingu, River
657   1268  -11.4350   -53.4027               Xingu, River
658   1269  -11.9433   -53.5177               Xingu, River
659   2650   -4.8967   -52.8112               Xingu, River
660   4005  -11.0582   -53.3174               Xingu, River
661   5204  -13.2449   -52.9680               Xingu, River
662   5205  -12.3150   -53.1799               Xingu, River
663    160   -2.3314   -52.0922               Xingu, River
664    981   -3.1710   -51.6250               Xingu, River
665   1020   -9.6526   -52.3429               Xingu, River
666   1016   -8.1899   -52.6746               Xingu, River
667   1015   -7.7858   -52.7604               Xingu, River
668   1014   -7.0075   -52.4115               Xingu, River
669   1012   -6.5177   -52.3008               Xingu, River
670   2552   -6.1394   -52.5108               Xingu, River
671   1008   -4.6870   -52.7285               Xingu, River
672   1203    0.1426   -73.1832                Yari, River
673   1778   35.4222   115.1682              Yellow, River
674    282   44.4253  -110.3700          Yellowstone, Lake
675   1352   64.8154  3777.6056               Yukon, River
676   9277   63.8417  -139.7462               Yukon, River
677   2137   58.8294  -118.7530                 Zama, Lake
678     77   48.0230    83.8751               Zaysan, Lake
679    234   54.4061   127.7737        Zeyskoye, Reservoir
680   1452    7.9952    38.9388                Ziway, Lake
681  10301   38.9408    -5.2544           Zujar, Reservoir

[682 rows x 4 columns]

In [3]:
## Get time series data
def get_timeseries_data(dahiti_id,location_id):
    import requests
    import json
    import pandas
    from pandas.io.json import json_normalize

    url = 'http://dahiti.dgfi.tum.de/api/v1/'

    args = {}
    """ required options """
    args['username'] = 'your username here'
    args['password'] = 'your password here'
    args['action'] = 'download'
    args['dahiti_id'] = dahiti_id
    
    """ send request as method POST """
    response = requests.post(url, data=args)
    """ send request as method GET """
    response = requests.get(url, params=args)

    if response.status_code == 200:
        """ convert json string in python list """
        data = json.loads(response.text)
        data = json_normalize(data)
        data['cl_id']= dahiti_id
        data['location_id'] = location_id
        return(data)
    else:
        return(response.status_code)
    
get_timeseries_data('85','1')    
# get_timeseries_data('970','2')

    data_type        date             error         height cl_id location_id
0          OP  2002-07-10  0.00852911370459  621.865805356    85           1
1          OP  2002-07-12  0.00658466206974  621.759336127    85           1
2          OP  2002-08-14  0.00780043239331  621.782068962    85           1
3          OP  2002-08-16  0.00826996002321  621.826210071    85           1
4          OP  2002-09-18  0.00930549747186  621.809982285    85           1
5          OP  2002-09-20  0.00861840006705  621.898357796    85           1
6          OP  2002-09-28  0.00401542146262  621.590141107    85           1
7          OP  2002-10-08   0.0030487992763   621.74411483    85           1
8          OP  2002-10-18   0.0020611754149  621.670983659    85           1
9          OP  2002-10-23  0.00922003991477  621.852879777    85           1
10         OP  2002-10-25  0.00587355285478  621.898810319    85           1
11         OP  2002-10-27  0.00332916853094  621.775259846    85           1
12         OP  2002-11-16  0.00516718937284   622.09410866    85           1
13         OP  2002-11-26  0.00334702550827  622.095478092    85           1
14         OP  2002-11-27  0.00756126480184  622.137442385    85           1
15         OP  2002-11-29  0.00676019026547  622.203008925    85           1
16         OP  2002-12-06  0.00604709500919  622.162024643    85           1
17         OP  2002-12-16  0.00850588432359  622.285949956    85           1
18         OP  2002-12-26  0.00285068327858  622.348856548    85           1
19         OP  2003-01-03  0.00782250748265  622.287189959    85           1
20         OP  2003-01-05  0.00328924771331  622.275440272    85           1
21         OP  2003-01-15  0.00448286193388  622.260919737    85           1
22         OP  2003-01-25  0.00349293178478  622.250274881    85           1
23         OP  2003-02-05  0.00687128503553  622.166913553    85           1
24         OP  2003-02-07  0.00665706181945  622.318409765    85           1
25         OP  2003-02-14   0.0030783720118  622.177311928    85           1
26         OP  2003-02-23  0.00470223835968  622.192674993    85           1
27         OP  2003-03-12  0.00834496450379  622.104762462    85           1
28         OP  2003-03-14  0.00756219889996  622.058967433    85           1
29         OP  2003-03-15   0.0056195039927  622.124797081    85           1
..        ...         ...               ...            ...   ...         ...
405        OP  2011-08-19  0.00908062508234  621.062824106    85           1
406        OP  2011-08-26  0.00987826835022  620.949132977    85           1
407        OP  2011-08-29  0.00785729479895  621.133366919    85           1
408        OP  2011-09-04  0.00931477832295  621.211996023    85           1
409        OP  2011-09-08  0.00730098617543  621.201128141    85           1
410        OP  2011-09-14   0.0101100747328   621.19991262    85           1
411        OP  2011-09-18   0.0106428995093  621.239264653    85           1
412        OP  2011-09-24  0.00852704989349   621.21834849    85           1
413        OP  2011-09-28  0.00615589602585  621.290483111    85           1
414        OP  2011-10-04    0.012299669493  621.372573715    85           1
415        OP  2011-10-08   0.0109958826066  621.371831694    85           1
416        OP  2011-10-14   0.0104838608029  621.262670323    85           1
417        OP  2011-10-18  0.00887354722599  621.366732223    85           1
418        OP  2011-10-24  0.00885086052762  621.288322177    85           1
419        OP  2011-10-28  0.00824744320734  621.461419266    85           1
420        OP  2011-11-03   0.0094863326227  621.393983226    85           1
421        OP  2011-11-06  0.00794061297547  621.497163882    85           1
422        OP  2011-11-23   0.0108498880021   621.59703181    85           1
423        OP  2011-12-13  0.00869677854418   621.68695223    85           1
424        OP  2011-12-23  0.00829357120231  621.687056077    85           1
425        OP  2011-12-26   0.0103782985426  621.931027351    85           1
426        OP  2012-01-01  0.00830536487747   621.85499138    85           1
427        OP  2012-01-05  0.00865978356633  621.842461921    85           1
428        OP  2012-01-11  0.00722198399131  621.773796653    85           1
429        OP  2012-01-15  0.00765426474508  621.840294986    85           1
430        OP  2012-01-21  0.00888194595855   621.75678434    85           1
431        OP  2012-01-25   0.0090792638235  621.814893084    85           1
432        OP  2012-02-10  0.00880320953226  621.771394062    85           1
433        OP  2012-02-14  0.00847845033871  621.775600198    85           1
434        OP  2012-03-01  0.00797208380305  621.635141686    85           1

[435 rows x 6 columns]

403